<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Purchase</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <h1>Flower Shop</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Flower Shop</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_customer' %}">Add Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_product' %}">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_purchase' %}">Add Purchase</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Add Purchase</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.customer.label_tag }}
                        {{ form.customer }}
                    </div>
                    <div class="form-group">
                        {{ form.product.label_tag }}
                        {{ form.product }}
                    </div>
                    <div class="form-group">
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}
                    </div>
                    <button type="submit" class="btn btn-primary">Add Purchase</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>